<%= content_for :head do %>
  <%= stylesheet_link_tag 'vendor/jquery.mask' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
     $('#transfer_amount').mask('000.000.000.000.000,00', {reverse: true}); 
    })
    $('submit').attr('disabled', 'disabled');
  </script>
<% end %>
<div class="row" style='text-align:left'>
  <h4>New transfer</h4>
  <p>Your balance: <%= number_to_currency (current_user.balance || 0) %></p>
  <%= form_for @transfer, method: :post do |f| %>
    <div class="form-group">
      <%= f.label :amount %>
      <%= f.number_field :amount, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :to_user %>
      <%= f.select :to_user,User.where.not(id: current_user.id).map { |user| [user.email, user.id] }, class: 'form-control' %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit 'Transfer', class: 'btn btn-default' %>
  <% end %>
</div>

